@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #F0C808;
    margin: 0%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    margin: auto;
    margin-top: 0px;
    justify-content: space-around ;
    background-image: linear-gradient(to left,#3228f2,#0212c1 );
    padding: 0%;
    height: 120px;
    width: 100%;
    position: fixed;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.logo{
    margin-top: 2px;
    padding: 3px;
    width: 300px;
    height: 110px;
}
.menu-h ul{
    list-style: none;
    padding: 5px;
    background-color: #36363600;
    font-size: 25px;
}

.menu-h ul li{
    display: inline;
}
.menu-h ul li a{
    color: white;
    text-decoration: none;
    margin: 15px;
    display: inline-block;
}
.menu-h ul li a:hover{
    color: #F0C808;
}
table{
    background-color: #4f46ff;
    color: white;
    width: 600px;
    height: 300px;
    font-size: 32pt;
    text-align: center;
    border: 3px solid #3228f2;
    border-collapse: collapse;
    justify-content: space-around;
    margin-top: 55px;
}
.tabela{
    margin-top: 30px;
}
td{
    cursor: pointer;
}
td:hover{
    background-color: #6773ff;
    transform: scale(1.08);
}
.tabela h2{
    font-size: 32pt;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.478) 1px 1px 2px;
    text-align: center;
}
tr, td{
    border: 3px solid #3228f2;
}
.texto-agende{
    text-align: end;
    font-size: 26pt;
    margin-top: 7%;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.478) 1px 1px 2px;
    margin-top: 85px;
}
.texto-agende p{
    font-size: 31pt;
}
.d1{
    display: flex;
    justify-content: space-around;
}
b{
    color: #3228f2;
    font-weight: 900;
}